
<div class="container-fluid posts-new">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-lg-16 bg-image home-banner center">
      <%= image_tag("logo.png", :alt => "ikoi") %><br>
      <span class="bannertext">Wanna hang out?</span><br>
      <span class="bannersubtext">Hundreds of events near you</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 center">
      <h1 class="whitetext">Join</h1>
      <h3 class="whitetext">Join the community, create your own event for everyone to see</h3>
    </div>
    <div class="col-lg-4 center">
      <h1 class="whitetext">Discover</h1>
      <h3 class="whitetext">Browse trough hundreds of upcoming events near you</h3>
    </div>
    <div class="col-lg-4 center">
      <h1 class="whitetext">Let's Go</h1>
      <h3 class="whitetext">Assist to concerts,conferences, plays and more!</h3>
    </div>
  </div>
</div>
