<div class="container-fluid posts-new">
  <div class="row">
    <div class="col-lg-6">
      <div class="d-lg-flex col-lg-12 bg-image2 leftimg text-center">
        <br><br>
        <%= image_tag("logo.png") %>
      </div>
    </div>
    <div class="col-lg-5 emp-profile">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="login-heading mb-4">Welcome back!</h1>
          <%= render 'sessions/login' %>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>
</div>
